# Ignorar ambiente virtual
ae_en/
venv/

# Ignorar arquivos temporários
*.pyc
__pycache__/

# Ignorar datasets grandes (se aplicável)
data/
mnist_data/
#models/

# Ignorar arquivos do sistema
.DS_Store